flask
pydicom
numpy<2
requests
Pillow
transformers>=4.44.0
torch==2.6.0+cpu
torchvision==0.21.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
accelerate>=0.33.0
openai==0.28
pylibjpeg
pylibjpeg-libjpeg
pylibjpeg-openjpeg
gunicorn
sentencepiece
protobuf
supabase
python-multipart
prometheus_client
pydicom
pynetdicom